.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.authForm {
  background: var(--bg-tertiary);
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);

  input { padding: 12px; border-radius: 6px; border: 1px solid var(--border-primary); }
  button { padding: 12px; background: #3b82f6; color: white; border: none; border-radius: 6px; cursor: pointer; }
  .toggle { cursor: pointer; font-size: 0.8rem; text-align: center; color: var(--text-muted); }
}

.score-input2 {
  padding: 8px;
  border-radius: 12px;
  border: 2px solid #cbd5e0; /* Базовый серый цвет */
  font-size: 15px;
  transition: all 0.3s ease;
  &:focus {
    border-color: #3b82f6; /* Твой синий цвет */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.38); /* Твой эффект тени */
  }
}